
/*CSS Reset*/
html,body{
margin: 0%;
box-sizing: border-box;
overflow-x: hidden;
text-decoration: none;
}
/*responsiveness*/
    @media only screen and (max-width:750px){
        .navbar .nav-menu, .navbar .nav-items {
            flex-direction: column;
        }
        .navbar .nav-menu .collapse{
            display: block;
    }
}

/**global**/
/**Google Fonts, 'Open Sans' and 'Roboto'**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
:root{

    /*theme font family*/
    --OpenSans: 'Open Sans', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --LexendExa: 'Lexend Exa', sans-serif;
    /*theme colors*/
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --primary-blue: #28558c;
    --light-blue: #3784d8;
    --midnight-blue: #3f669d;
    --white: #ffffff;
    /*gradient color*/
    --winter-neva: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);   
}

nav{
    font-family: var(--OpenSans);
}
.navbar{
    background: white;
    padding: 1.6rem 2rem;
    height: 0rem;
    min-height: 3vh; /*desktop view*/
    overflow: hidden;
    transition: 1s linear;
}
.navbar .nav-menu{
    justify-content: space-between;
}

.navbar .nav-brand{
    font-size: 1.6rem;
    padding: 1 rem 0;
    display: block;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar .nav-items .nav-link{
    padding: .6rem;
    font-size: .8rem;
    position: relative;
}

.navbar .nav-items .nav-link:hover{
    background-color: var(--midnight-blue);
}

.navbar .nav-items .nav-link:hover a{
    color:var(--white);
}
.navbar .nav-items{
    display:flex;
}

.navbar .collapse{
    position: absolute;
    top: 0%;
    width: 80%;
    display: none;
    padding: 1.6rem 0;
}
.navbar .collapse .hamburger{
    display: flex;
    justify-content: flex-end;
}
.navbar .collapse .hamburger i{
    font-size: 1.2rem;
    color: var(--text-gray);
}
.uncollapse{
    height: 28rem;
}

.join{
    background-color: var(--primary-blue);
    color: var(--white);
}
.join:hover{

    background-color: #dddddd;
    color: black;
    font-weight: solid;
}

/**remove list bullets**/
    ul{
         list-style: none; 
    }

/**remove text underline**/
    a{
        text-decoration: none;
        color: var(--text-gray);
        text-decoration-style: var(--LexendExa);
    }
/**lexendexa font on Acropro**/    
    div2{        
        font-family: var(--LexendExa);
    }
