html,body{
margin: 0%;
box-sizing: border-box;
overflow-x: hidden;
text-decoration: none;
}
/**global**/
/**Google Fonts, 'Open Sans' and 'Roboto'**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
:root{

    /*theme font family*/
    --OpenSans: 'Open Sans', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --LexendExa: 'Lexend Exa', sans-serif;
    /*theme colors*/
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --primary-blue: #28558c;
    --light-blue: #3784d8;
    --midnight-blue: #3f669d;
    /*gradient color*/
    --winter-neva: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    
}
nav{
    font-family: var(--OpenSans);
}
.navbar{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 30vh;
    overflow: hidden;
}
.navbar .nav-menu{
    justify-content: space-between;
}

.navbar .nav-brand{
    font-size: 1.6rem;
    padding: 1 rem 0;
    display: block;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.2rem;
    position: relative;
}

.navbar .nav-items .nav-link:hover{
    background-color: var(--winter-neva);
}

.navbar .nav-items .nav-link:hover a{
    color:var(--white);
}
.navbar .nav-items{
    display:flex;
    margin:0;
}

/**remove list bullets**/
    ul{
         list-style: none; 
    }

/**remove text underline**/
    a{
        text-decoration: none;
        color: var(--text-gray);
        text-decoration-style: var(--LexendExa);
    }
/**lexendexa font on Acropro**/    
    div2{        
        font-family: var(--LexendExa);
    }
